$themes: (
  default: (
    // Navbar
    navbar-background: #fff,
    navbar-icon-text: rgba(160, 152, 149, 0.75),
    navbar-icon-fill: rgba(160, 152, 149, 0.75),
    hamburger-icon-fill: rgba(160, 152, 149, 0.75),
    search-border: #cecaca,
    search-input-background: white,
    search-icon-background: #fff,
    search-icon-fill: rgba(160, 152, 149, 0.75),
    // Main div
    place: white,
  ),
);
