// Make video player full width
#showmedia_video_player {
  width: 100% !important;
}

textarea {
  border-radius: 5px !important;
}

.comments-header.boxtitle {
  margin-bottom: 20px;
}

.showmedia-submenu {
  display: none;
}

.white-wrapper {
  border-radius: 5px !important;
}

.collection-carousel-arrow {
  opacity: 0.15;
}
